{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}

    {{ include('Defaulte/Header.html.twig') }}

    <div class="container">
        <h2>Вариант 4. Форум</h2>
        <h2>Разработать форум.</h2>

        <h3>На всех страницах в шапке сайта для неавторизованных пользователей выводить ссылки на авторизацию и регистрацию,
            для авторизованных - приветствие, кнопку “Выход” и имя пользователя.
        </h3>
        <h3>На главной странице выводятся топики форума, отсортированные по дате добавления.
            У каждого топика выводится заголовок, дата добавления и количество комментариев к нему.

        </h3>
        <h2>На странице топика выводится:</h2>
        <ul>
            <li>заголовок</li>
            <li>текст</li>
            <li>имя автора</li>
            <li>раздел топика</li>
            <li>список комментариев пользователей, отсортированных по дате добавления</li>
            <li>форма “Добавить комментарий” (текстовое поле и кнопка  “Отправить”)</li>
        </ul>

        <h2>На странице добавления топика располагается форма с полями</h2>
        <ul>
            <li>заголовок топика</li>
            <li>текст топика</li>
            <li>раздел топика</li>
        </ul>

        <h3>Если какие-то из обязательных полей не заполнены, сохранения в БД не происходит, на форме выводятся сообщения
            об ошибках. Заполненные пользователем текстовые поля не сбрасываются.
        </h3>
        <h3>При создании топика пользователь может указать раздел только из заранее определенного списка.</h3>

        <h3>После успешной отправки выполнять редирект на страницу созданного топика.

            Все пользователи (в том числе неавторизованные) могут просматривать топики и ответы к ним.
            Авторизованные пользователи могут добавлять и комментировать топики.
            Пользователь с правами администратора должен иметь возможность удаления и редактирования топиков,
            а также удаления комментариев.
        </h3>
    </div>

    {#   <style>
       .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
       .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
   </style>

   <div class="example-wrapper">
       <h1>Hello {{ controller_name }}! ✅</h1>

       This friendly message is coming from:
       <ul>
           <li>Your controller at <code><a href="{{ 'D:/ospanel/OpenServer/domains/website_forum/src/Controller/AboutController.php'|file_link(0) }}">src/Controller/AboutController.php</a></code></li>
           <li>Your template at <code><a href="{{ 'D:/ospanel/OpenServer/domains/website_forum/templates/about/index.html.twig'|file_link(0) }}">templates/about/index.html.twig</a></code></li>
       </ul>#}
    {{ include('Defaulte/Footer.html.twig') }}

{% endblock %}
